@import "./../../css/Feeds";
aside {
  flex: 1 28%;
  min-width: 300px;
  display: flex !important;
  flex-direction: column;
  span.closeIcon {
    color: inherit;
    text-align: end;
  }
}

@media (max-width: $tablet2) {
  aside {
    display: none !important;
  }
}
