@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  cursor: default;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Montserrat Alternates", monospace !important;
}

button *,
button,
svg,
path,
a * {
  cursor: pointer;
}

input,
input * {
  cursor: text;
}

html {
  color: #444;
  background: #fafcfe !important;
  height: 100vh;
  overflow: scroll;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: initial !important;
  font-family: "Montserrat Alternates", monospace !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  font-size: 1em !important;
}

h1 {
  font-size: 2em !important;
}

h4 {
  font-size: 1.1em !important;
  font-weight: 600 !important;
}

h5 {
  font-size: 0.9em !important;
  font-weight: 400 !important;
}

button,
textarea {
  background: none;
  border: none;
  outline: none !important;
}

textarea {
  resize: none;
  cursor: text;
}

a {
  color: inherit !important;
}

a:hover {
  text-decoration: none !important;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: calc(min(4vw, 2em));
  gap: calc(min(4vw, 2em));
  margin: 0;
}

.body .NavBar {
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: calc(min(2vw, 1em));
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
}

.body .NavBar::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

main,
aside {
  display: block;
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: calc(min(2vw, 1em));
}

main::-webkit-scrollbar,
aside::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  border-inline: 1px solid rgba(0, 0, 0, 0.1);
}

main > div {
  margin-bottom: 1em;
}

.NewScream,
.InvitationDiv,
.Contacts {
  -webkit-box-shadow: 2px 0 10px -1px #f2f3f4 !important;
          box-shadow: 2px 0 10px -1px #f2f3f4 !important;
  border-radius: 15px;
  background: white;
  color: #1c3a5f;
  padding: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

aside .Invits,
aside .Contacts {
  margin: 0;
}

main .NewScream {
  margin: 1em;
  padding: 3em 4em 1em 4em;
  -webkit-box-shadow: 2px 0 10px -1px #d5d5d5 !important;
          box-shadow: 2px 0 10px -1px #d5d5d5 !important;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

main .NewScream,
main .NewScream * {
  font-weight: normal;
  color: #1c395f;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  letter-spacing: 1px;
}

main .NewScream:hover {
  -webkit-box-shadow: 2px 0 10px -1px #b8b8b8 !important;
          box-shadow: 2px 0 10px -1px #b8b8b8 !important;
}

main .NewScream:hover ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

main .NewScream:hover :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

main .NewScream:hover ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

main .NewScream:hover ::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

main .NewScream__Input textarea {
  font-weight: bold;
  width: 100%;
  border: none;
  font-size: 1.3em;
  white-space: pre-line;
}

main .NewScream__Input textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

main .NewScream__Input textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

main .NewScream__Input textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

main .NewScream__Input textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

main .NewScream__Audiance {
  opacity: 0;
}

main .NewScream__Audiance svg {
  vertical-align: middle;
  margin: 0.3em;
}

main .NewScream__Options {
  margin: 0.3em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

main .NewScream__Options .Options__Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

main .NewScream__Options .Options__Icons button:hover {
  opacity: 0.8;
}

main .NewScream__Options .Options__charsLimit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .NewScream__Options .Options__Tweet {
  padding: 1em;
  background: #3784d6;
  color: white;
  border-radius: 1em;
  font-weight: 700;
  padding-inline: 1.5em;
}

main .NewScream__Options .Options__Tweet:hover {
  background: #2070c5;
}

main .NewScream__Options .Options__Tweet:disabled {
  background: #d7d7d7;
  cursor: not-allowed;
}
/*# sourceMappingURL=NewScream.css.map */