@import "./../../css/Main";

.NewScream,
.InvitationDiv,
.Contacts {
  @include componentBasics;
  flex-grow: 1;
}

aside .Invits,
aside .Contacts {
  margin: 0;
}
main {
  flex: 1 1 70%;

  & > div {
    margin-bottom: 1em;
  }
}
