@import "./../../css/Main";

.NewScream,
.InvitationDiv,
.Contacts {
  @include componentBasics;
  flex-grow: 1;
}

main {
  flex: 1 1 70%;

  & > div {
    margin-bottom: 1em;
  }
}

/// Avatar size
.css-1wlk0hk-MuiAvatar-root {
  width: 50px !important;
  height: 50px !important;
}
