@import "./../../css/Feeds";

main .Screams {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: none;

  //// scream image
  .css-o69gx8-MuiCardMedia-root {
    height: clamp(300px, calc(100px + 40vw), 450px);
  }

  /// scream title
  .css-et1ao3-MuiTypography-root {
    font-family: unset;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.7);
  }
  .css-r40f8v-MuiTypography-root {
    margin-bottom: 1em;
    font-family: unset;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.7);
  }

  .css-1emx3r-MuiTypography-root {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: #1c3a5f;
    font-weight: 500;
  }
}
