@import "./../../css/App";

@mixin componentBasics {
  box-shadow: $box-shadow-componentBasics;
  border-radius: $border-radius;
  background: white;
  color: rgb(28, 58, 95);
  padding: 0.5em;
}

/// Avatar size
.css-1wlk0hk-MuiAvatar-root,
.css-3i9vrz {
  width: 50px !important;
  height: 50px !important;
}
