@import "./../../css/Feeds";

.Contacts {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  gap: 1em;
  margin-top: 1em;
  .ContactItem {
    transition: all 0.2s ease-in;
    &,
    * {
      cursor: pointer;
    }
    &:hover {
      background: rgba(245, 245, 245, 0.575);
    }

    .active {
      p {
        color: rgb(23, 100, 14);
        font-weight: bold;
      }
    }
  }
}
.ChatBox {
  position: fixed !important;
  width: 500px !important;
  bottom: 0px;
  right: -100%;
  height: calc(95vh - 110px);
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: auto 1fr;
  background: rgb(250, 250, 250);
  transition: all 0.2s ease-in;
  transform-origin: right;
  // transform: translate(100%);
  opacity: 0;
  z-index: -1;
  &.active {
    @include componentBasics;
    right: 0;

    // transform: translate(0%);
    opacity: 1;
    z-index: 10;
  }

  img.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .chat-header {
    padding: 1em;

    .ChatBoxheader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;

      h4 {
        flex: 1;
      }
    }
    input {
      color: black !important;
      font-weight: 600 !important;
      letter-spacing: 1.2px !important;
      font-size: 1.2em !important;
    }
  }
  .chat-box {
    height: auto !important;
    background: none !important;

    .msg-page {
      height: auto !important;
    }
  }

  .msg-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}
