@import "./../../css/Feeds";

.Contacts {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  gap: 1em;
  margin-top: 1em;
  .ContactItem {
    .active {
      p {
        color: rgb(23, 100, 14);
        font-weight: bold;
      }
    }
  }

  .ChatBox {
    position: absolute; // relative to the .body
    bottom: 0;
    right: 28%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 30vh;

    .title {
      height: 60px;
      display: flex;
      justify-content: space-between;
      gap: 1em;
    }

    .body {
    }
  }
}
