@import "./../../../Home/css/Home";

.body {
  display: flex;
  padding-inline: calc(min(4vw, 2em));
  gap: calc(min(4vw, 2em));
  margin: 0;
  main,
  aside,
  .NavBar {
    display: block;
    height: calc(100vh - 100px);
    overflow-y: auto;
    position: relative;
    @include scrollBarNone;
    padding-top: calc(min(4vw, 2em));
  }

  aside {
    flex: 1 28%;
    min-width: 300px;
  }

  @media (max-width: $tablet2) {
    aside {
      display: none;
    }
  }
}
