@import "./../../css/Feeds";
.NewScream {
  /// post form
  .css-13r4j3i {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    padding-inline: 1em;
  }

  /// fieldset hidden
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
  .css-igs3ac {
    border: none;
    outline: none;
  }
  /// input
  .css-13r4j3i .MuiTextField-root {
    width: auto;
  }

  /// Post input Placeholder [label]
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
  .css-p0rm37 {
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: unset;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root,
  .css-1hw9j7s {
    height: 3.2em;
  }
}
