* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  cursor: default;
}

button *,
button,
svg,
path,
a * {
  cursor: pointer;
}

input,
input * {
  cursor: text;
}

body {
  color: #444;
  background: #fafcfe !important;
  height: 100vh;
  overflow: hidden;
  max-width: 1500px;
  margin-inline: auto;
  font-family: "Montserrat", monospace !important;
}

.css-9tj150-MuiButton-endIcon > *:nth-of-type(1) {
  width: 1em !important;
  height: 1em !important;
  color: currentColor !important;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: calc(min(4vw, 2em));
  gap: calc(min(4vw, 2em));
  margin: 0;
}

.body main,
.body aside,
.body .NavBar {
  display: block;
  height: calc(100vh - 100px);
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  padding-top: calc(min(2vw, 1em));
}

.body main::-webkit-scrollbar,
.body aside::-webkit-scrollbar,
.body .NavBar::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.body aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 28%;
          flex: 1 28%;
  min-width: 300px;
}

@media (max-width: 1200px) {
  .body aside {
    display: none;
  }
}

.Stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  overflow-x: auto;
  scrollbar-width: none;
}

.Stories::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.Stories::before {
  content: "";
  position: absolute;
  height: clamp(80px, calc(60px + 8vw), 200px);
  padding: 1em;
  width: 30px;
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#fafcfe), to(transparent));
  background: linear-gradient(-90deg, #fafcfe, transparent);
  z-index: 3;
}

.Stories .Story {
  -webkit-box-shadow: 2px 0 10px -1px #f2f3f4 !important;
          box-shadow: 2px 0 10px -1px #f2f3f4 !important;
  border-radius: 15px;
  background: white;
  color: #1c3a5f;
  padding: 0.5em;
  overflow: hidden;
  min-width: 17%;
  height: clamp(80px, calc(60px + 8vw), 200px);
  background-position: center center;
  background-size: cover;
  color: white;
  position: relative;
}

.Stories .Story::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.5);
}

.Stories .Story .add,
.Stories .Story .Avatar-Story {
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}

.Stories .Story .add::before,
.Stories .Story .Avatar-Story::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 7px;
}

.Stories .Story .add {
  position: absolute;
  bottom: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.Stories .Story .add * {
  color: #1c3a5f;
}

.Stories .Story .Avatar-Story {
  margin: 1em auto auto 1em;
  background-size: cover;
  background-position: center;
}

.Stories .Story .Story-title {
  font-weight: 500;
  text-shadow: 0px 2px 1px black;
  position: absolute;
  z-index: 2;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}
/*# sourceMappingURL=Stories.css.map */