@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  cursor: default;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Montserrat Alternates", monospace !important;
}

button *,
button,
svg,
path,
a * {
  cursor: pointer;
}

input,
input * {
  cursor: text;
}

html {
  color: #444;
  background: #fafcfe !important;
  height: 100vh;
  overflow: hidden;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: initial !important;
  font-family: "Montserrat Alternates", monospace !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  font-size: 1em !important;
}

h4 {
  font-size: 1.1em !important;
  font-weight: 600 !important;
}

h5 {
  font-size: 0.9em !important;
  font-weight: 400 !important;
}

button,
textarea {
  background: none;
  border: none;
  outline: none !important;
}

textarea {
  resize: none;
  cursor: text;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: calc(min(4vw, 2em));
  gap: calc(min(4vw, 2em));
  margin: 0;
}

.body main,
.body aside,
.body .NavBar {
  display: block;
  height: calc(100vh - 100px);
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  padding-top: calc(min(2vw, 1em));
}

.body main::-webkit-scrollbar,
.body aside::-webkit-scrollbar,
.body .NavBar::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.body main {
  border-inline: 1px solid rgba(0, 0, 0, 0.1);
}

.Stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1em;
  overflow-x: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 1em;
  margin-bottom: 0;
  padding-inline: 0.5em;
  scrollbar-width: none;
}

.Stories::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.Stories::before {
  content: "";
  position: absolute;
  height: clamp(80px, calc(60px + 8vw), 200px);
  padding: 1em;
  width: 30px;
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#fafcfe), to(transparent));
  background: linear-gradient(-90deg, #fafcfe, transparent);
  z-index: 3;
}

.Stories .Story {
  -webkit-box-shadow: 2px 0 10px -1px #f2f3f4 !important;
          box-shadow: 2px 0 10px -1px #f2f3f4 !important;
  border-radius: 15px;
  background: white;
  color: #1c3a5f;
  padding: 0.5em;
  overflow: hidden;
  width: clamp(100px, 17%, 200px);
  height: clamp(140px, calc(60px + 8vw), 200px);
  background-position: center center;
  background-size: cover;
  color: white;
  position: relative;
}

.Stories .Story,
.Stories .Story * {
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 1;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.Stories .Story input {
  z-index: 2;
}

.Stories .Story:hover {
  -webkit-transform: scale(0.995);
          transform: scale(0.995);
}

.Stories .Story::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.5);
}

.Stories .Story .add,
.Stories .Story .Avatar-Story {
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}

.Stories .Story .add::before,
.Stories .Story .Avatar-Story::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 7px;
}

.Stories .Story .add {
  position: absolute;
  bottom: 4em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.Stories .Story .add * {
  color: #1c3a5f;
}

.Stories .Story .Avatar-Story {
  margin: 1em auto auto 1em;
  background-size: cover;
  background-position: center;
}

.Stories .Story .Story-title {
  font-weight: 500;
  text-shadow: 0px 2px 1px black;
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}
/*# sourceMappingURL=Stories.css.map */