@import "./../../css/Home";

header {
  position: relative;
  z-index: 999;
  //// Header Design customisation
  .css-hip9hq-MuiPaper-root-MuiAppBar-root,
  .css-1x7skt0 {
    background-color: rgb(253, 253, 253) !important;
    color: rgb(28, 58, 95) !important;
    box-shadow: $box-shadow;
    padding-block: 0.7em !important;
  }

  //// search input container
  .css-96uuyl {
    width: auto !important;
  }
  //// search input
  .css-1kcggdq-MuiInputBase-root
    .MuiInputBase-input.css-yz9k0d-MuiInputBase-input,
  .css-8iv0is .MuiInputBase-input {
    background-color: rgb(244, 246, 250) !important;
    box-shadow: 0 0 4px -3px black !important;
    border-radius: 30px !important;
    color: black !important;
    padding: 0.8em !important;
    padding-left: 3em !important;
    width: clamp(200px, 30vw, 600px) !important;

    &:hover,
    &:focus {
      width: clamp(200px, 36vw, 600px) !important;
    }
  }
  .css-1iz4iln {
    z-index: 1 !important;
  }
}
