//// Box Shadow
$box-shadow: 2px 0 2px 3px rgb(242, 243, 244) !important;
$box-shadow-componentBasics: 2px 0 10px -1px #f2f3f4 !important;
//// Border Raduis
$border-radius: 15px;
//// COLORS
$blue-focus: rgb(28, 58, 95); /// for names
$blue-bright: rgb(30, 118, 232); /// for active links
$blue-light: rgb(76, 96, 123); //// for links and semi titles
$blue-light-for-icons: rgba(76, 96, 123, 0.7); //// for links and semi titles
$gray-light: rgb(244, 246, 250); //// for input search
$white-slighter: rgb(253, 253, 253); //
$shadow-light: rgb(242, 243, 244); /// header shadow

//// Grid center alignItems
@mixin gridCenterItems {
  display: grid;
  place-items: center;
}

/// SCREENS
$tablet: 1024px;
$tablet2: 768px;
$phone: 375px;

* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  cursor: default;
}
button *,
button,
svg,
path,
a * {
  cursor: pointer;
}
input,
input * {
  cursor: text;
}
body {
  color: #444;
  background: rgb(250, 252, 254); // for background
  min-height: 100vh;
  min-width: 100vw;
  max-width: 1500px;
  font-family: "Montserrat", monospace !important;
}
