//// FONTS
// Montserrat Alternates
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Monserrat
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//// Box Shadow
$box-shadow: 2px 0 2px 3px rgb(242, 243, 244) !important;
$box-shadow-componentBasics: 2px 0 10px -1px #f2f3f4 !important;
//// Border Raduis
$border-radius: 15px;
//// COLORS
$blue-focus: rgb(28, 58, 95); /// for names
$blue-bright: rgb(30, 118, 232); /// for active links
$blue-light: rgb(76, 96, 123); //// for links and semi titles
$blue-light-for-icons: rgba(76, 96, 123, 0.5); //// for links and semi titles
$gray-light: rgb(244, 246, 250); //// for input search
$white-slighter: rgb(253, 253, 253); //
$shadow-light: rgb(242, 243, 244); /// header shadow

/// SCREENS
$tablet: 1024px;
$tablet2: 1200px;
$phone: 375px;

* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  cursor: default;
  box-sizing: border-box !important;
  font-family: "Montserrat Alternates", monospace !important;
}
button *,
button,
svg,
path,
a * {
  cursor: pointer;
}
input,
input * {
  cursor: text;
}

html {
  color: #444;
  background: rgb(250, 252, 254) !important; // for background
  height: 100vh;
  overflow: scroll;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
}

@mixin scrollBarNone {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: initial !important;
  font-family: "Montserrat Alternates", monospace !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  font-size: 1em !important;
}

h1 {
  font-size: 2em !important;
}
h4 {
  font-size: 1.1em !important;
  font-weight: 600 !important;
}
h5 {
  font-size: 0.9em !important;
  font-weight: 400 !important;
}

button,
textarea {
  background: none;
  border: none;
  outline: none !important;
}

textarea {
  resize: none;
  cursor: text;
}

a {
  color: inherit !important;
  &:hover {
    text-decoration: none !important;
  }
}
