@import "./../../css/Home";

.NavBar {
  min-width: 230px;
  display: flex !important;
  flex-grow: 1;
  flex-direction: column;
  gap: 1.5em;

  .ProfileAvatar,
  .Menu {
    @include componentBasics;
    display: flex;
    align-items: center;
    gap: 1em;
    line-height: 1.5;
  }

  .ProfileAvatar {
    h4 {
      font-weight: bold;
    }
    .Name {
      flex-grow: 1;
    }
    .Setting {
      @include gridCenterItems;
    }
  }

  .Menu {
    padding: 0;
    ul {
      width: 100%;
      padding: 0;
      border-radius: 15px;
      overflow: hidden;
      li {
        padding-block: 1em;
        padding-left: 2em;

        &:first-child {
          padding-top: 1.5em;
        }
        &:first-child {
          padding-bottom: 1.5em;
        }

        .css-tzssek-MuiSvgIcon-root {
          color: $blue-light-for-icons;
        }

        .css-pwyk3z-MuiBadge-badge,
        .css-106c1u2-MuiBadge-badge {
          opacity: 0.9;
        }

        &.activeLink {
          background: $gray-light;
          border-left: 0.15em solid $blue-bright;
          cursor: default;
          svg,
          p {
            color: $blue-bright;
          }
        }
        & > * {
          cursor: pointer;
        }

        p {
          margin-left: 1.5em;
          font-weight: 400;
        }
      }
      .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root + .MuiDivider-root {
        width: 80%;
        margin: 0;
        margin-inline: auto;
        opacity: 0.5;
      }
    }
  }

  .MusicBox {
    @include componentBasics;
    padding-inline: 0;

    .css-1ndgitk {
      padding: 0;
    }
  }

  @media (max-width: $tablet) {
    & {
      min-width: fit-content;
    }
    .ProfileAvatar {
      flex-direction: column;
    }
    h4,
    h5,
    p {
      display: none !important;
    }
    li {
      padding-inline: 0 !important;
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 500px) {
    &,
    .MusicBox {
      display: none !important;
    }
  }
}
