@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  cursor: default;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Montserrat Alternates", monospace !important;
}

button *,
button,
svg,
path,
a * {
  cursor: pointer;
}

input,
input * {
  cursor: text;
}

html {
  color: #444;
  background: #fafcfe !important;
  height: 100vh;
  overflow: scroll;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: initial !important;
  font-family: "Montserrat Alternates", monospace !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  font-size: 1em !important;
}

h1 {
  font-size: 2em !important;
}

h4 {
  font-size: 1.1em !important;
  font-weight: 600 !important;
}

h5 {
  font-size: 0.9em !important;
  font-weight: 400 !important;
}

button,
textarea {
  background: none;
  border: none;
  outline: none !important;
}

textarea {
  resize: none;
  cursor: text;
}

a {
  color: inherit !important;
}

a:hover {
  text-decoration: none !important;
}

.body .NavBar {
  padding: 1em;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 250px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.body .NavBar .ProfileAvatar h4 {
  font-weight: bold;
  white-space: nowrap;
}

.body .NavBar .ProfileAvatar .Name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.body .NavBar .ProfileAvatar .Name * {
  cursor: pointer;
}

.body .NavBar .ProfileAvatar .Setting {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.body .NavBar .ProfileAvatar,
.body .NavBar .Menu {
  -webkit-box-shadow: 2px 0 10px -1px #f2f3f4 !important;
          box-shadow: 2px 0 10px -1px #f2f3f4 !important;
  border-radius: 15px;
  background: white;
  color: #1c3a5f;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  line-height: 1.5;
}

.body .NavBar .Menu {
  padding: 0;
}

.body .NavBar .Menu ul {
  width: 100%;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
}

.body .NavBar .Menu ul .Menu__NavLink__active li {
  background: #f4f6fa;
  border-left: 0.15em solid #1e76e8;
}

.body .NavBar .Menu ul .Menu__NavLink__active li,
.body .NavBar .Menu ul .Menu__NavLink__active li * {
  cursor: default;
}

.body .NavBar .Menu ul .Menu__NavLink__active li svg,
.body .NavBar .Menu ul .Menu__NavLink__active li p {
  color: #1e76e8;
}

.body .NavBar .Menu ul li {
  padding-block: 1em;
  padding-left: 1em;
}

.body .NavBar .Menu ul li.first-child {
  padding-top: 1.5em;
}

.body .NavBar .Menu ul li:last-child {
  padding-bottom: 1.5em;
}

.body .NavBar .Menu ul li .css-tzssek-MuiSvgIcon-root,
.body .NavBar .Menu ul li .css-6flbmm {
  color: rgba(76, 96, 123, 0.5);
}

.body .NavBar .Menu ul li .css-pwyk3z-MuiBadge-badge,
.body .NavBar .Menu ul li .css-106c1u2-MuiBadge-badge,
.body .NavBar .Menu ul li .css-13xqbvb,
.body .NavBar .Menu ul li .css-1p3d99h {
  opacity: 0.9;
}

.body .NavBar .Menu ul li > * {
  cursor: pointer;
}

.body .NavBar .Menu ul li p {
  margin-left: 1.5em;
  font-weight: 400;
}

.body .NavBar .Menu ul .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root + .MuiDivider-root,
.body .NavBar .Menu ul .css-1km1ehz + .MuiDivider-root {
  width: 80%;
  margin: 0;
  margin-inline: auto;
  opacity: 0.5;
}

.body .NavBar .MusicBox {
  -webkit-box-shadow: 2px 0 10px -1px #f2f3f4 !important;
          box-shadow: 2px 0 10px -1px #f2f3f4 !important;
  border-radius: 15px;
  background: white;
  color: #1c3a5f;
  padding: 0.5em;
  padding-inline: 0;
}

.body .NavBar .MusicBox .css-1ndgitk {
  padding: 0;
}

@media (max-width: 1024px) {
  .body .NavBar {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .body .NavBar .ProfileAvatar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body .NavBar h4,
  .body .NavBar h5,
  .body .NavBar p,
  .body .NavBar .Music {
    display: none !important;
  }
  .body .NavBar li {
    padding-inline: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .body .NavBar {
    display: none !important;
  }
}
/*# sourceMappingURL=NavBar.css.map */