* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  cursor: default;
}

button *,
button,
svg,
path,
a * {
  cursor: pointer;
}

input,
input * {
  cursor: text;
}

body {
  color: #444;
  background: #fafcfe !important;
  height: 100vh;
  overflow: hidden;
  max-width: 1500px;
  margin-inline: auto;
  font-family: "Montserrat", monospace !important;
}

.css-1wlk0hk-MuiAvatar-root,
.css-3i9vrz {
  width: 50px !important;
  height: 50px !important;
}

.NavBar {
  min-width: 230px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.NavBar .ProfileAvatar,
.NavBar .Menu {
  -webkit-box-shadow: 2px 0 10px -1px #f2f3f4 !important;
          box-shadow: 2px 0 10px -1px #f2f3f4 !important;
  border-radius: 15px;
  background: white;
  color: #1c3a5f;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  line-height: 1.5;
}

.NavBar .ProfileAvatar h4 {
  font-weight: bold;
}

.NavBar .ProfileAvatar .Name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.NavBar .ProfileAvatar .Setting {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.NavBar .Menu {
  padding: 0;
}

.NavBar .Menu ul {
  width: 100%;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
}

.NavBar .Menu ul li {
  padding-block: 1em;
  padding-left: 2em;
}

.NavBar .Menu ul li:first-child {
  padding-top: 1.5em;
}

.NavBar .Menu ul li:first-child {
  padding-bottom: 1.5em;
}

.NavBar .Menu ul li .css-tzssek-MuiSvgIcon-root,
.NavBar .Menu ul li .css-6flbmm {
  color: rgba(76, 96, 123, 0.5);
}

.NavBar .Menu ul li .css-pwyk3z-MuiBadge-badge,
.NavBar .Menu ul li .css-106c1u2-MuiBadge-badge,
.NavBar .Menu ul li .css-13xqbvb,
.NavBar .Menu ul li .css-1p3d99h {
  opacity: 0.9;
}

.NavBar .Menu ul li.activeLink {
  background: #f4f6fa;
  border-left: 0.15em solid #1e76e8;
  cursor: default;
}

.NavBar .Menu ul li.activeLink svg,
.NavBar .Menu ul li.activeLink p {
  color: #1e76e8;
}

.NavBar .Menu ul li > * {
  cursor: pointer;
}

.NavBar .Menu ul li p {
  margin-left: 1.5em;
  font-weight: 400;
}

.NavBar .Menu ul .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root + .MuiDivider-root,
.NavBar .Menu ul .css-1km1ehz + .MuiDivider-root {
  width: 80%;
  margin: 0;
  margin-inline: auto;
  opacity: 0.5;
}

.NavBar .MusicBox {
  -webkit-box-shadow: 2px 0 10px -1px #f2f3f4 !important;
          box-shadow: 2px 0 10px -1px #f2f3f4 !important;
  border-radius: 15px;
  background: white;
  color: #1c3a5f;
  padding: 0.5em;
  padding-inline: 0;
}

.NavBar .MusicBox .css-1ndgitk {
  padding: 0;
}

@media (max-width: 1024px) {
  .NavBar {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .NavBar .ProfileAvatar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .NavBar h4,
  .NavBar h5,
  .NavBar p,
  .NavBar .Music {
    display: none !important;
  }
  .NavBar li {
    padding-inline: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .NavBar {
    display: none !important;
  }
}
/*# sourceMappingURL=NavBar.css.map */