* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  font-weight: normal !important;
}

button,
label,
a {
  cursor: pointer;
}

button:active,
label:active,
a:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.Log__Form {
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  max-width: 1500px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Log__Form::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #0000008a;
}

.Log__Form .container {
  max-width: unset;
  height: 90vh;
  width: 97%;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.Log__Form .container .Banner {
  padding-left: 4vw;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Log__Form .container .Banner img.logo {
  width: 30vw;
}

.Log__Form .container .Banner h1 {
  font-size: 6vw !important;
}

.Log__Form .container .Banner h2 {
  font-size: 3vw !important;
}

@media only screen and (max-width: 800px) {
  .Log__Form .container .Banner {
    display: none;
  }
}

.Log__Form .container .Login__formBox {
  padding: clamp(2em, calc(1em + 5vw), 3em);
  padding-top: clamp(3em, calc(2em + 5vw), 4em);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(2em, calc(1em + 5vw), 3em);
  background: white;
  border-radius: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 450px;
  overflow: auto;
}

.Log__Form .container .Login__formBox fieldset:disabled * {
  pointer-events: none;
}

.Log__Form .container .Login__formBox fieldset:disabled * button {
  background: #1c3a5f !important;
}

.Log__Form .container .Login__formBox .formApp,
.Log__Form .container .Login__formBox .formApp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.Log__Form .container .Login__formBox .formApp h1.title {
  text-align: center;
}

.Log__Form .container .Login__formBox .formApp .input {
  height: 70px;
}

.Log__Form .container .Login__formBox .formApp .rememberMe span {
  padding-left: 0;
}

.Log__Form .container .Login__formBox .formApp .submitButton button {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 0 1em;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #1c3a5f;
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1px;
}

.Log__Form .container .Login__formBox .formApp .submitButton button:hover {
  background: #152b46;
}

.Log__Form .container .Login__formBox .formApp .ErrorConsole {
  font-size: 0.8em;
  padding: 0.4em;
  border-radius: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.Log__Form .container .Login__formBox .formApp .Options {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 1em;
  padding-bottom: 0;
  gap: 1em;
}

.Log__Form .container .Login__formBox .formApp .Options h3 {
  line-height: 1.4;
  color: #999999;
  text-align: center;
  font-size: 1.3em !important;
}

.Log__Form .container .Login__formBox .formApp .Options h3.Options__SignUp {
  font-weight: 400 !important;
  border-radius: 4px;
  padding: 0.3em 0;
  position: relative;
  background: #42b72a;
  color: white;
}

.Log__Form .container .Login__formBox .formApp .Options h3.Options__SignUp:hover {
  background: #3ca826;
}

.Log__Form .container .Login__formBox .formApp .Options .Options__Buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.Log__Form .container .Login__formBox .formApp .Options .Options__Buttons button {
  padding: 0.7em;
  display: -ms-grid;
  display: grid;
  place-content: center;
  place-items: center;
  border-radius: 50%;
  color: white;
  width: 3em;
  height: 3em;
}

.Log__Form .container .Login__formBox .formApp .Options .Options__Buttons button:hover {
  opacity: 0.9;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.Log__Form .container .Login__formBox .formApp .Options .Options__Buttons button.google {
  background: #43a539;
}

.Log__Form .container .Login__formBox .formApp .Options .Options__Buttons button.facebook {
  background: #1d68f2;
}

.Log__Form .container .Login__formBox .formApp .Options .Options__Buttons button.twitter {
  background: #1da1f2;
}

.Log__Form .container .Login__formBox .formApp .Options .Options__other {
  text-align: center;
}

.Log__Form footer {
  position: absolute;
  bottom: 0;
  color: #c4c4c4;
  z-index: 1;
  width: 100%;
  height: 5vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/*# sourceMappingURL=login.css.map */